
@{
    ViewBag.Title = "Confirmation";
}
<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Order Confirmation</h2>
                <div class="page_link">
                    <a href="/Home/Index">Home</a>
                    <a href="/User/Confirmation">Confirmation</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Order Details Area =================-->
<section class="order_details p_120">
    <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Order number</span> : 60235
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Date</span> : Los Angeles
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Total</span> : USD 2210
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Payment method</span> : Check payments
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Street</span> : 56/8
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>City</span> : Los Angeles
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Country</span> : United States
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Postcode </span> : 36952
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span>Street</span> : 56/8
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>City</span> : Los Angeles
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Country</span> : United States
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Postcode </span> : 36952
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @foreach (var bill in ViewBag.bills)
        {
            <div class="order_details_table">

                <h2 data-id="@bill[0].order_id" class="dataID">Mã Đơn Hàng : @bill[0].order_id</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th style="font-weight: bold" scope="col" class="text-left ml-2">Sản phẩm</th>
                                <th style="font-weight: bold" scope="col" class="text-left ml-2">Số lượng</th>
                                <th style="font-weight: bold" scope="col" class="text-left ml-2">Giá</th>
                                <th style="font-weight: bold" scope="col" class="text-left ml-2">Thành tiền</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var group_bill in bill)
                            {
                                <tr>
                                    <td style="width: 45%;">
                                        <p>@group_bill.BOOK.nameBook</p>
                                    </td>
                                    <td>
                                        <h5>x @group_bill.total</h5>
                                    </td>
                                    <td>
                                        <p>@group_bill.BOOK.priceBook VND</p>
                                    </td>
                                    <td>
                                        <p class="price @group_bill.order_id">@(group_bill.total * group_bill.BOOK.priceBook) VND</p>
                                    </td>
                                </tr>
                            }

                            <tr>
                                <td>
                                    <h4>Tạm tính</h4>
                                </td>

                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p id="totalPrice @bill[0].order_id"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Tổng tiền</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p id="total @bill[0].order_id"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        }
        </div>
</section>
<!--================End Order Details Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent")
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script>
    $(document).ready(function () {
        const prices = $(".dataID")
        for (let i = 0; i < prices.length; i++) {
            let dataID = prices[i].dataset.id;
            let total_Price = "totalPrice " + dataID;
            let total = "total " + dataID;
            let price_id = "price " + dataID;
            document.getElementById(total_Price).innerHTML = totalPrice(price_id);
            document.getElementById(total).innerHTML = totalPrice(price_id);
        }
    })
  
</script>
