<form class="cart_form_inner w-100 row d-flex justify-content-center"
      action="/Admin/AddBook"
      method="post"
      style="box-shadow:none">

    <h3 class="col-12 md-3">Thêm Sách</h3>
    <div class="row form-group col-11">
        <div class="col-md-5 form-group mx-auto">
            <input id="name" class="col-md-12 form-control"
                   name="nameBook"
                   placeholder="Nhập tên sách"
                   type="text" />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAddCategory"
                        class="sorting w-100 size "
                        name="categoryBook_ID">
                    <option value="#">Thể Loại</option>
                    @foreach (var element in ViewBag.categoryBook.Items)
                    {
                        <option value="@element.C_id">@element.nameCategory</option>
                    }
                    <option value="">Thêm Thể Loại...</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAddPublishingHouse"
                        class="sorting w-100"
                        name="publishingHouseBook_ID">
                    <option value="#">Nhà Xuất Bản</option>

                    @foreach (var element in ViewBag.publishingHouseBook.Items)
                    {
                        <option value="@element.C_id">@element.namePublishingHouse</option>
                    }

                    <option value="">Thêm Nhà Xuất Bản...</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAuthor"
                        class="sorting w-100 size "
                        name="formAuthor">
                    <option value="#">Tác Giả</option>
                    @foreach (var element in ViewBag.authorBook.Items)
                    {
                        <option value="@element.C_id">@element.nameAuthor</option>
                    }
                    <option value="">Thêm Tác Giả...</option>
                </select>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="count" class="col-md-12 form-control"
                   name="countBook"
                   placeholder="Số Lượng Sách"
                   type="number" />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="price" class="col-md-12 form-control"
                   name="priceBook"
                   placeholder="Giá Sách"
                   type="number" />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="sizeBook" class="col-md-12 form-control"
                   name="size"
                   placeholder="Kích thước"
                   type="text" />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="numberOfPage" class="col-md-12 form-control"
                   name="numberOfPage"
                   placeholder="Số trang"
                   type="number" />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <textarea id="content" class="col-md-12 form-control"
                      name="contentBook"
                      placeholder="Nhập nội dung sách"
                      type="text"></textarea>
        </div>
    </div>


    <div class="form-group mx-auto d-flex">
        <div id="importExcel" class="btn submit_btn mr-2">Import Excel</div>
        <div id="submit" class="btn submit_btn ml-2">Thêm Sách</div>
    </div>
</form>

<div id="modalCreate" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto; width:500px;
        box-shadow:none" method="post">
        <h3>Thêm thể loại sách</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="nameCategory" placeholder="Nhập thể loại sách" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePageCate" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePageCate").click(function (e) {
            e.preventDefault();
            $("#modalCreate").hide()
        })

    </script>
</div>
<div id="modalCreatePH" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto;width: 500px;
        box-shadow: none" method="post">
        <h3>Thêm nhà xuất bản</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="namePublishingHouse" placeholder="Nhập nhà xuất bản" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePagePH" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePagePH").click(function (e) {
            e.preventDefault();
            $("#modalCreatePH").hide()
        })
    </script>
</div>
<div id="modalCreateAuthor" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto;width: 500px;
        box-shadow: none" method="post">
        <h3>Thêm tác giả</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="nameAuthor" placeholder="Thêm tác giả" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePageAuthor" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePageAuthor").click(function (e) {
            e.preventDefault();
            $("#modalCreateAuthor").hide()
        })
    </script>
</div>

<div id="modalimportExcel" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">

    <form action="/Admin/ImportBook" method="post" enctype="multipart/form-data" class="cart_form_inner" style="height: auto;width: 500px;
        box-shadow: none">
        <h3>ImportExcel</h3>
        <div class="col-md-10 form-group mx-auto">
            <a href="@Url.Action("DownloadExcel","Admin")">Download Excel Template</a>
        </div>
        <div class="col-md-10 form-group mx-auto">
            <input type="file" id="file" name="postedFile" hidden />
            <label for="file" id="file_lbl" style="padding-bottom: 15px; width: 100%; border-bottom: 1px solid black; font-size: 16px !important;">Choose a file</label>
        </div>

        <div class="col-md-10 form-group d-flex mx-auto flex-wrap" style="padding-bottom:40px">
            <button class="btn submit_btn">Thêm</button>
            <button id="prePageImportBook" class="btn submit_btn">Trở về</button>
        </div>
    </form>
    <script>
        $("#prePageImportBook").click(function (e) {
            e.preventDefault();
            $("#modalimportExcel").hide()
        })
    </script>
</div>



<script src="~/Scripts/Admin/addBook.js"></script>
<script>
    $(document).ready(function () {
        $("#file").change(function (e) {
           
            document.getElementById('file_lbl').innerHTML = $(this).val().substring(12)
         
        })
            $("#importExcel").click(function () {
                $("#modalimportExcel").show();
            })
        $("#submit").click(function (e) {
            
                e.preventDefault()
                const nameB = $("#name").val()
                const contentB = $("#content").val()
                const priceB = $("#price").val()
                const countB = $("#count").val()
                const category = $("#formAddCategory").val()
                const publishinghouse = $("#formAddPublishingHouse").val()
                const author = $("#formAuthor").val()
                const size = $("#sizeBook").val()
                const numberOfPage = $("#numberOfPage").val()

                const objData = {
                    nameBook: nameB,
                    contentBook: contentB,
                    priceBook: priceB,
                    countBook: countB,
                    categoryBook_ID: category,
                    publishingHouseBook_ID: publishinghouse,
                    authorBook_ID: author,
                    size: size,
                    numberOfPage: numberOfPage
                }
                $.ajax({
                    url: "/Admin/ValidateBook",
                    type: "POST",
                    data: objData,
                    datatype: "JSON",
                    success: function (res) {
                        if (res.status == false)
                            notify("thông báo", res.message, "fas fa-exclamation-circle", "warning")
                        else {
                            notify("thông báo", res.message, "fas fa-exclamation-circle", "success")
                            settimeout(function () {
                                window.location.href = '/' + res.link.controllername + '/' + res.link.actionname + '';
                            }, 3300);
                        }
                    }
                })
            })
        })
    </script>