
<div class="product_image_area">

    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-5">
                <div class=" d-flex s_product_img" style="height: 300px; justify-content: center; align-items: center;">
                    <img class=" h-100" src="~/Content/img/book/book-cover/b-c-CaiTetMeoCon.jpg" />
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="s_product_text" style="margin-top:0">
                    <h3 data-id="@ViewBag.book.C_id" id="idBook" class="mb-4">@ViewBag.book.nameBook</h3>
                    <h2>@ViewBag.book.priceBook VND</h2>
                    <ul class="list">
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Tác giả</span> : @ViewBag.book.AUTHOR.nameAuthor
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Thể loại</span> : @ViewBag.book.CATEGORY.nameCategory
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Số sản phẩm có sẵn</span> : @ViewBag.book.countBook
                            </a>
                        </li>

                    </ul>
                    <div class="product_count">
                        abc
                    </div>
                    <div class="card_area">
                        <button class="main_btn" id="">Quay lại</button>
                        <button class="main_btn" id="">Chỉnh sửa</button>
                        <button class="main_btn" id="">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item ">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mô tả chi tiết</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    @ViewBag.book.contentBook
                </p>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Tác giả</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.AUTHOR.nameAuthor</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Thể loại</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.CATEGORY.nameCategory</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Nhà xuất bản</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.PUBLISHING_HOUSE.namePublishingHouse</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Kích thước</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.size</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Số trang</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.numberOfPages</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
