
<form class="cart_form_inner w-100 row d-flex justify-content-center"
      action="/Admin/AddBook"
      method="post"
      style="box-shadow:none">

    <h3 class="col-12 md-3">Thêm Sách</h3>
    <div class="row form-group col-11">
        <div class="col-md-5 form-group mx-auto">
            <input id="name" class="col-md-12 form-control"
                   name="nameBook"
                   placeholder="Nhập tên sách"
                   type="text" 
                   value="@ViewBag.book.nameBook"/>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAddCategory"
                        class="sorting w-100 size "
                        name="categoryBook_ID"
                        value="@ViewBag.book.categoryBook_ID"
                        ">
                    <option value="#">Thể Loại</option>
                    @foreach (var element in ViewBag.categoryBook.Items)
                    {
                        <option value="@element.C_id">@element.nameCategory</option>
                    }
                    <option value="">Thêm Thể Loại...</option>
                </select>
                <script>
                       var value =@Html.Raw(Json.Encode(ViewBag.cate_id))

                           document.getElementById('formAddCategory').value = value
                </script>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAddPublishingHouse"
                        class="sorting w-100"
                        name="publishingHouseBook_ID"
                        value="@ViewBag.book.publishingHouseBook_ID">
                    <option value="#">Nhà Xuất Bản</option>

                    @foreach (var element in ViewBag.publishingHouseBook.Items)
                    {
                        <option value="@element.C_id">@element.namePublishingHouse</option>
                    }

                    <option value="">Thêm Nhà Xuất Bản...</option>
                </select>
                <script>
                       var value =@Html.Raw(Json.Encode(ViewBag.publish_id))
                           document.getElementById('formAddPublishingHouse').value = value
                </script>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <div class="left_dorp">
                <select id="formAuthor"
                        class="sorting w-100 size "
                        name="formAuthor"
                        >
                    <option value="#">Tác Giả</option>
                    @foreach (var element in ViewBag.authorBook.Items)
                    {
                        <option value="@element.C_id">@element.nameAuthor</option>
                    }
                    <option value="">Thêm Tác Giả...</option>
                </select>
                <script>
                       var value =@Html.Raw(Json.Encode(ViewBag.author_id))
                           document.getElementById('formAuthor').value = value
                </script>
            </div>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="count" class="col-md-12 form-control"
                   name="countBook"
                   placeholder="Số Lượng Sách"
                   type="number" 
                    value="@ViewBag.book.countBook"
                   />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="price" class="col-md-12 form-control"
                   name="priceBook"
                   placeholder="Giá Sách"
                   type="number" 
                   value="@ViewBag.book.priceBook"/>
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="sizeBook" class="col-md-12 form-control"
                   name="size"
                   placeholder="Kích thước"
                   type="text"
                    value="@ViewBag.book.size"
                   />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <input id="numberOfPage" class="col-md-12 form-control"
                   name="numberOfPage"
                   placeholder="Số trang"
                   type="number"
                   value="@ViewBag.book.numberOfPages"
                   />
        </div>
        <div class="col-md-5 form-group mx-auto">
            <textarea id="content" class="col-md-12 form-control"
                      name="contentBook"
                      placeholder="Nhập nội dung sách"
                      type="text"
                      value="@ViewBag.book.contentBook"></textarea>
            <script>
                       var value =@Html.Raw(Json.Encode(ViewBag.content))
                           document.getElementById('content').value = value
            </script>
        </div>
    </div>


    <div class="form-group mx-auto d-flex">
        <div id="submit" class="btn submit_btn ml-2">Cập Nhật Sách</div>
    </div>
</form>

<div id="modalCreate" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto; width:500px;
        box-shadow:none" method="post">
        <h3>Thêm thể loại sách</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="nameCategory" placeholder="Nhập thể loại sách" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePageCate" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePageCate").click(function (e) {
            e.preventDefault();
            $("#modalCreate").hide()
        })

    </script>
</div>
<div id="modalCreatePH" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto;width: 500px;
        box-shadow: none" method="post">
        <h3>Thêm nhà xuất bản</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="namePublishingHouse" placeholder="Nhập nhà xuất bản" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePagePH" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePagePH").click(function (e) {
            e.preventDefault();
            $("#modalCreatePH").hide()
        })
    </script>
</div>
<div id="modalCreateAuthor" style="box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.14); display:none">
    <form class="cart_form_inner" style="height: auto;width: 500px;
        box-shadow: none" method="post">
        <h3>Thêm tác giả</h3>
        <div class="col-md-10 form-group mx-auto">
            <input class="col-md-12 form-control" name="nameAuthor" placeholder="Thêm tác giả" type="text" />
        </div>
        <div class="col-md-10 form-group d-flex mx-auto" style="padding-bottom:40px">
            <button id="prePageAuthor" class="btn submit_btn">Trở về</button>
            <button class="btn submit_btn">Thêm</button>
        </div>
    </form>
    <script>
        $("#prePageAuthor").click(function (e) {
            e.preventDefault();
            $("#modalCreateAuthor").hide()
        })
    </script>
</div>

<script>

    $('select').niceSelect();
    $(document).ready(function () {
        $("#formAddCategory").change(function (e) {
            const selectedValue = $(this).val();
            if (selectedValue.toString() === "") {
                $("#modalCreate").show()
            }
        })
        $("#formAddPublishingHouse").change(function (e) {
            const selectedValue = $(this).val();
            if (selectedValue.toString() === "") {
                $("#modalCreatePH").show()
            }
        })
        $("#formAuthor").change(function (e) {
            const selectedValue = $(this).val();
            if (selectedValue.toString() === "") {
                $("#modalCreateAuthor").show()
            }
        })
            $("#submit").click(function (e) {
                e.preventDefault()
                const nameB = $("#name").val()
                const contentB = $("#content").val()
                const priceB = $("#price").val()
                const countB = $("#count").val()
                const category = $("#formAddCategory").val()
                const publishinghouse = $("#formAddPublishingHouse").val()
                const author = $("#formAuthor").val()
                const size = $("#sizeBook").val()
                const numberOfPage = $("#numberOfPage").val()

                const objData = {
                    nameBook: nameB,
                    contentBook: contentB,
                    priceBook: priceB,
                    countBook: countB,
                    categoryBook_ID: category,
                    publishingHouseBook_ID: publishinghouse,
                    authorBook_ID: author,
                    size: size,
                    numberOfPage: numberOfPage
                }
                console.log(objData)
                //$.ajax({
                //    url: "/Admin/ValidateBook",
                //    type: "POST",
                //    data: objData,
                //    dataType: "JSON",
                //    success: function (respone) {
                //        if (respone.status == false)
                //            notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                //        else {
                //            notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                //            setTimeout(function () {
                //                window.location.href = '/' + respone.link.controllerName + '/' + respone.link.actionName + '';
                //            }, 3300);
                //        }
                //    }
                //})
            })
        })
</script>