@model IEnumerable<Web.ASP.models.BOOK>
<div class="form-data" style="margin: 0 auto;">
    <table style="width: 100%; border-collapse: collapse">
        <tr>
            <th>TÊN SÁCH</th>
            <th>GIÁ SÁCH</th>
            @*<th>MÔ TẢ</th>*@
            <th>SỐ LƯỢNG</th>
            <th>THỂ LOẠI</th>
            <th>NHÀ XUẤT BẢN</th>
        </tr>
        @if (!(Model is null))
        {
            foreach (var book in Model)
            {
                <tr class="singleBook" data-idBook="@book.C_id">
                    <td style="text-align:left">@book.nameBook</td>
                    <td>@book.priceBook</td>
                    @*<td>@book.contentBook</td>*@
                    <td>@book.countBook</td>
                    <td>@book.CATEGORY.nameCategory</td>
                    <td>@book.PUBLISHING_HOUSE.namePublishingHouse</td>

                </tr>
            }
        }
    </table>
    <div class="form-group mx-auto">

        <a href="@Url.Action("ExportExcel","Admin")" class="btn submit_btn">Download Excel</a>
    </div>
    <div class="form-group mx-auto">

        <a href="@Url.Action("DownloadExcel","Admin")" class="btn submit_btn">Download Excel Template</a>
    </div>
    
    <form action="/Admin/ImportBook" method="post" enctype="multipart/form-data">
        <input type="file" name="postedFile" />
        <input id="import" type="submit" value="Import" />
    </form>
</div>
<script>
    $(document).ready(function () {
        $(".singleBook").click(function (e) {
            const objData = {
                id: e.currentTarget.dataset.idbook
            }
          
            ajaxLoadData("/Admin/LoadSingleBook", "#load_form", objData)
        })
    })
</script>