@model PagedList.IPagedList<Web.ASP.models.BOOK>


@using PagedList.Mvc;
@{
    ViewBag.Title = "Category";
}



<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Sản phẩm</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Category/Index">Sản phẩm</a>
                    <!--<a href="category.html">Women Fashion</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_gap">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <div class="left_dorp">
                        <select class="sorting">
                            <option value="1">Sắp xếp theo</option>
                            <option value="2">Mới nhất</option>
                            <option value="3">Giá từ thấp đến cao</option>
                            <option value="4">Giá từ cao đến thấp</option>
                            <!--<option value="4">Default sorting 02</option>*-->
                        </select>

                    </div>
                    <div class="right_page ml-auto">
                        <nav class="cat_page" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?page=@i">
                                            @i
                                        </a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="latest_product_inner row">
                    @if (!(Model is null))
                    {
                        foreach (var book in Model.ToList())
                        {
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="f_p_item book_items">
                                    <div class="f_p_img">
                                        <img class="img-fluid" src="@book.IMAGE_BOOK.link" alt="">
                                        <div class="p_icon">
                                            <a href="#">
                                                <i class="lnr lnr-heart"></i>
                                            </a>
                                            <a href="#">
                                                <i class="lnr lnr-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="/Category/SingleBook/Index?_id=@book.C_id">
                                        <h4>
                                            @if (@book.nameBook.Length > 20)
                                            {
                                                @book.nameBook.Substring(0, 20);
                                            }
                                            else
                                            {
                                                @book.nameBook;
                                            }
                                        </h4>
                                    </a>
                                    <h5>@book.priceBook VND</h5>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Top sản phẩm</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li class="active">
                                    <a href="#">Mới nhất</a>
                                </li>
                                <li>
                                    <a href="#">Bán chạy </a>
                                </li>

                            </ul>
                        </div>
                    </aside>
                    <aside class="left_widgets cat_widgets">
                        <div class="l_w_title">
                            <h3>Thể loại sách</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">

                                <li class="active">
                                    <a href="">Tất Cả</a>
                                </li>
                                @foreach (var element in ViewBag.categoryBook.Items)
                                {
                                    <li>
                                        <a href="?categoryID=@element.C_id">@element.nameCategory</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </aside>
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Nhà xuất bản</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">NXB Hội Văn Học</a>
                                </li>
                                <li>
                                    <a href="#">NXB Kim Đồng</a>
                                </li>
                                <li>
                                    <a href="#">NXB Nhã Nam</a>
                                </li>
                                <li class="active">
                                    <a href="#">NXB Phương Nam</a>
                                </li>
                                <li>
                                    <a href="#">NXB Trẻ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="widgets_inner">
                            <h4>Giá thành</h4>
                            <div class="range_item">
                                <div id="slider-range"></div>
                                <div class="row m0">
                                    <label for="amount">Price : </label>
                                    <input type="text" id="amount" readonly>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
</section>
<!--================End Category Product Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent");
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->


