@model PagedList.IPagedList<Web.ASP.models.BOOK>
@if (!(Model is null))
{
    foreach (var book in Model.ToList())
    {
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="f_p_item book_items">
                <div class="f_p_img">
                    <img class="img-fluid" src="@book.IMAGE_BOOK.link" alt="">
                    <div class="p_icon">
                        <a href="#">
                            <i class="lnr lnr-heart"></i>
                        </a>
                        <a href="#">
                            <i class="lnr lnr-cart"></i>
                        </a>
                    </div>
                </div>
                <a href="/Category/SingleBook/Index?_id=@book.C_id">

                    @if (@book.nameBook.Length > 20)
                    {
                        <h4>@book.nameBook.Substring(0, 20)...</h4>
                    }
                    else
                    {
                        <h4>@book.nameBook</h4>
                    }
                </a>
                <h5>@book.priceBook VND</h5>
            </div>
        </div>
    }
}
