@model IEnumerable<Web.ASP.models.BOOK>
@{
    ViewBag.Title = "SingleBook";
}
<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Single Product Page</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Category/Index">Sản phẩm</a>
                    <a href="/Category/SingleBook">Chi tiết sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class=" d-flex s_product_img" style="height: 500px; justify-content: center; align-items: center;">
                    <img class=" h-100" src="@ViewBag.book.IMAGE_BOOK.link"/>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3 data-id="@ViewBag.book.C_id" id="idBook" class="mb-4">@ViewBag.book.nameBook</h3>
                    <h2>@ViewBag.book.priceBook VND</h2>
                    <ul class="list">
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Tác giả</span> : @ViewBag.book.AUTHOR.nameAuthor
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Thể loại</span> : @ViewBag.book.CATEGORY.nameCategory
                            </a>
                        </li>
                        <li class="mb-3">
                            <a class="active" href="#">
                                <span style="width: auto;">Số sản phẩm có sẵn</span> : @ViewBag.book.countBook
                            </a>
                        </li>

                    </ul>
                    <div class="product_count">
                        <label for="qty">Số lượng:</label>
                        <input onkeypress="var result = document.getElementById('sst'); var sst = result.value; if (isNaN(sst) || sst > @ViewBag.book.countBook ) {
                            result.value =@ViewBag.book.countBook; return false;} " type="number" 
                            name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst < @ViewBag.book.countBook ) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if (!isNaN(sst) && sst > 0) result.value--; return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    <div class="card_area">
                        <button class="main_btn" id="addCart">Thêm vào giỏ hàng</button>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-diamond"></i>
                        </a>
                        <a class="icon_btn" href="#">
                            <i class="lnr lnr lnr-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mô tả chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Nhận xét</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    @ViewBag.book.contentBook
                </p>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Tác giả</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.AUTHOR.nameAuthor</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Thể loại</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.CATEGORY.nameCategory</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Nhà xuất bản</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.PUBLISHING_HOUSE.namePublishingHouse</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Kích thước</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.size</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Số trang</h5>
                                </td>
                                <td>
                                    <h5>@ViewBag.book.numberOfPages</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>@ViewBag.star</h4>
                                    <h6>( @ViewBag.countReview Reviews )</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on @ViewBag.countReview Reviews</h3>
                                    <ul class="list">
                                        <li>
                                            <a>
                                                5 Star
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> @ViewBag.count5Star
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                4 Star
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i> @ViewBag.count4Star
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                3 Star
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i> @ViewBag.count3Star
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                2 Star
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i> @ViewBag.count2Star
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                1 Star
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i> @ViewBag.count1Star
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            @foreach (var review in ViewBag.book.REVIEWS)
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Content/img/product/single-product/review-1.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>@review.INFORMATION.nameInformation </h4>
                                            @if (review.star == 1)
                                            {
                                                <a>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </a>
                                            }
                                            else if (review.star == 2)
                                            {
                                                <a>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </a>
                                            }
                                            else if (review.star == 3)
                                            {
                                                <a>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </a>
                                            }
                                            else if (review.star == 4)
                                            {
                                                <a>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </a>
                                            }
                                            else if (review.star == 5)
                                            {
                                                <a>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </a>
                                            }

                                             <h5>@review.DateOfReview.ToString("ddd d MMM  yyyy - HH:mm")</h5>


                                        </div>
                                    </div>
                                    <p>
                                        @review.review1
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Thêm nhận xét</h4>
                            <p>Đánh giá:</p>
                            <ul class="list" id="id_star" data-idStar="0">
                                <li>
                                    <a class="star" data-star="1">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="star" data-star="2">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="star" data-star="3">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="star" data-star="4">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="star" data-star="5">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </li>
                            </ul>
                            <form class="row contact_form" action="" method="post" id="contactForm_c" novalidate="novalidate">
                                @if (!(Session["user"] is null))
                                {

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name_c" name="name" placeholder="Họ tên" value="@ViewBag.nameUser">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email_c" name="information_id" placeholder="Email" value="@ViewBag.emailUser">
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name_c" name="name" placeholder="Họ tên">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email_c" name="information_id" placeholder="Email">
                                        </div>
                                    </div>
                                }

             
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="review" id="review_c" rows="1" placeholder="Nhận xét"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <div id="submit" class="btn submit_btn">Gửi</div>
                                    @*<button id="submit_b" class="btn submit_btn" style="display:none">Gửi</button>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent");
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script>
    $(document).ready(function () {
        $("#addCart").click(function () {
            const idBook = document.getElementById("idBook").dataset.id;
            const result = document.getElementById('sst');
            const obj = {
                book_id: idBook,
                count: result.value
            }
            $.ajax({
                url: "/Category/createCart",
                data: obj,
                success: function (respone) {
                    if (respone.status == false)
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                    else {
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                    }
                },
                type: "POST",
                dataType:"JSON"
            })
        });
        $(".star").click(function (e) {
            const star = e.currentTarget.dataset.star;
            document.getElementById("id_star").dataset.idStar = star;
            const allStar = $(".star");
            let str = "";
            for (let i = 0; i < 5; i++){
                if (allStar[i].dataset.star <= star)
                    str = "fa fa-star";
                else
                    str = "fa fa-star-o";
                allStar[i].children[0].className = str;
            }
        })
        $("#submit").click(function () {
            const idBook = document.getElementById("idBook").dataset.id;
            const name = $("#name_c").val();
            const email = $("#email_c").val();
            const review = $("#review_c").val();
            const star = document.getElementById("id_star").dataset.idStar;
            if (name === "") {
                notify("Thông Báo", "Nhập họ tên của bạn", "fas fa-exclamation-circle", "warning");
                return;
            }
            if (email === "") {
                notify("Thông Báo", "Nhập họ tên của bạn", "fas fa-exclamation-circle", "warning");
                return;
            }
            if (review === "") {
                notify("Thông Báo", "Nhập nội dung ", "fas fa-exclamation-circle", "warning");
                return;
            }
            if (star === undefined ) {
                notify("Thông Báo", "Chọn đánh giá", "fas fa-exclamation-circle", "warning");
                return;
            }
            const objData = {
                book_id :idBook,
                information_id :email,
                review : review,
                star : star
            }
            $.ajax({
                url: "/Category/addReview",
                data: objData,
                success: function (respone) {
                    if (respone.status == false)
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "warning")
                    else {
                         //Load lại trang cho lẹ
                        notify("Thông Báo", respone.message, "fas fa-exclamation-circle", "success")
                        setTimeout(function () {
                            window.location.href = '/' + respone.link.controllerName + '/' + respone.link.actionName + '';
                        }, 3300);
                    }
                },
                type: "POST",
                dataType: "JSON"
            })
        })
    });
</script>