@model IEnumerable<Web.ASP.models.BILL>

@{
    ViewBag.Title = "BillDetail";
}
<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Chi tiết đơn hàng</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang Chủ</a>
                    <a href="/User/BillDetail">Chi tiết đơn hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Order Details Area =================-->
<section class="order_details p_120">
    <div class="container">
        <div class="row order_d_inner">
            <div class="col-lg-6">
                <div class="details_item">
                    <h4>Địa chỉ nhận hàng</h4>
                    <ul class="list">

                        <li>
                            <a href="#">
                                <span>Mã đơn hàng</span> : @ViewBag.bills[0].order_id
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Người nhận </span> : @ViewBag.bills[0].INFORMATION.nameInformation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Số điện thoại</span> :  @ViewBag.bills[0].INFORMATION.phoneInformation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Địa chỉ nhận hàng</span> : @ViewBag.bills[0].INFORMATION.addressInformation
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Hình thức thanh toán</span> : Thanh toán khi nhận hàng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="details_item">
                    <h4>Địa chỉ giao hàng</h4>
                    <ul class="list">
                        <li>
                            <a href="#">
                                <span></span> 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Người gửi</span> : AQ BOOK
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span>Địa chỉ nhận hàng</span> : Số 1, Võ Văn Ngân, Quận Thủ Đức
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Country</span> : Việt Nam
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">

            <h2>Chi tiết đơn hàng : </h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left ml-2">Sản phẩm</th>
                            <th scope="col" class="text-left ml-2">Số lượng</th>
                            <th scope="col" class="text-left ml-2">Giá</th>
                            <th scope="col" class="text-left ml-2">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bill in ViewBag.bills)
                        { 
                            <tr>
                                <td>
                                    <p>@bill.BOOK.nameBook</p>
                                </td>
                                <td>
                                    <h5>@bill.total</h5>
                                </td>
                                <td>
                                    <p>@bill.BOOK.priceBook VND</p>
                                </td>
                                <td>
                                    <p class="price">@(bill.total * bill.BOOK.priceBook) VND</p>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p id="totalPrice"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p id="total"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script>
    document.getElementById("totalPrice").innerHTML = totalPrice();
    document.getElementById("total").innerHTML = totalPrice();
</script>