@model IEnumerable<Web.ASP.models.CART>
@{
    ViewBag.Title = "Cart";
}
<!--================Header Menu Area =================-->
@Html.Partial("_Headercomponent")
<!--================Header Menu Area =================-->
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Giỏ Hàng</h2>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Cart/Index">Giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm đã chọn</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    @if (!(Model is null))
                    {
                        <tbody>
                            @foreach (var cart in Model)
                            {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img style="width:40px;height:40px;" src="@cart.BOOK.IMAGE_BOOK.link" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@cart.BOOK.nameBook</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 data-id="@cart.book_id" data-price="@cart.BOOK.priceBook" class="@cart.book_id">@cart.BOOK.priceBook VND</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" data-id="@cart.book_id" data-max="@cart.BOOK.countBook" class="@cart.book_id input-text qty" maxlength="12" value=@cart.count title="Quantity:">
                                        <button class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 data-id="@cart.book_id" class="@cart.book_id price"> @(cart.count * cart.BOOK.priceBook) VND</h5>
                                </td>
                            </tr>
                            }
                            
                                @*<tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" href="#">Cập nhật giỏ hàng</a>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="cupon_text">
                                        <input type="text" placeholder="Mã giảm giá">
                                        <a class="main_btn" href="#">Xác nhận</a>

                                    </div>
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <h5>Tổng cộng</h5>
                                </td>
                                <td>
                                    <h5 id="totalPrice">123</h5>
                                </td>
                            </tr>
                           @*<tr class="shipping_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Vận chuyển</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">

                                        <li>
                                            <a href="#">Vận chuyển miễn phí</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">Phí giao hàng: $2.00</a>
                                        </li>
                                    </ul>

                                </div>
                            </td>
                        </tr>*@
                            <tr class="out_button_area">
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <div class="checkout_btn_inner">
                                        <a class="gray_btn" href="/Category/Index">Tiếp tục mua sắm</a>
                                        <a class="main_btn" href="/User/Confirmation">Tiến hành thanh toán</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<!--================ Subscription Area ================-->
@Html.Partial("_SubscriptionComponent");
<!--================ End Subscription Area ================-->
<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<script>
    
    $(document).ready(function () {
        $("#totalPrice")[0].innerHTML = totalPrice();
        $(".increase").click(function (e) {
            let current = (e.currentTarget);
            let parent = current.parentElement.children[0];
            var id = `${parent.dataset.id}`;
            var result = document.getElementsByClassName(`${id}`);
            var sst = result[1].value;
            const max =parseInt(result[1].dataset.max)
            if (!isNaN(sst) && sst < max) result[1].value++;
            result[2].innerHTML = price(parseInt(result[0].dataset.price), result[1].value);
            $("#totalPrice")[0].innerHTML = totalPrice();
            return false;
        })
        $(".reduced").click(function (e) {
            let current = (e.currentTarget);
            let parent = current.parentElement.children[0];
            var id = `${parent.dataset.id}`;
            var result = document.getElementsByClassName(`${id}`);
            var sst = result[1].value;
            if (!isNaN(sst) && sst > 1) result[1].value--;
            result[2].innerHTML = price(parseInt(result[0].dataset.price), result[1].value);
            $("#totalPrice")[0].innerHTML = totalPrice();
            return false;
        })
    })
</script>