<script src="https://kit.fontawesome.com/ba60acbd5a.js" crossorigin="anonymous"></script>
<!--================Header Menu Area =================-->
@Html.Partial("_HeaderComponent")
<!--================Header Menu Area =================-->
<div>
    <div class="app">
        <div class="container py-5">
            <input type="radio" name="tab-manager" id="tab-tatCa" hidden checked>
            <input type="radio" name="tab-manager" id="tab-choXacNhan" hidden>
            <input type="radio" name="tab-manager" id="tab-choLayHang" hidden>
            <input type="radio" name="tab-manager" id="tab-dangGiao" hidden>
            <input type="radio" name="tab-manager" id="tab-daGiao" hidden>
            <input type="radio" name="tab-manager" id="tab-daHuy" hidden>
            <input type="radio" name="tab-manager" id="tab-traHang" hidden>
            <div class="wrap-status">
                <h1 class="status font-weight-normal tatCa">
                    Tất cả đơn hàng
                </h1>
                <h1 class="status font-weight-normal choXacNhan">
                    Chờ xác nhận (đơn hàng mới)
                </h1>
                <h1 class="status font-weight-normal choLayHang">
                    Đã Xác nhận chờ lấy hàng
                </h1>
                <h1 class="status font-weight-normal dangGiao">
                    Đang giao
                </h1>
                <h1 class="status font-weight-normal daGiao">
                    Đã giao hàng
                </h1>
                <h1 class="status font-weight-normal daHuy">
                    Đã Hủy
                </h1>
                <h1 class="status font-weight-normal traHang">
                    Trả hàng/Hoàn tiền
                </h1>
            </div>
            <div class="wrap-content mt-5">
                <div class="wrap-name-column">
                    <label for="tab-tatCa">Tất cả</label>
                    <label for="tab-choXacNhan">Chờ xác nhận</label>
                    <label for="tab-choLayHang">Chờ lấy hàng</label>
                    <label for="tab-dangGiao">Đang giao</label>
                    <label for="tab-daGiao">Đã giao</label>
                    <label for="tab-daHuy">Đã hủy</label>
                    <label for="tab-traHang">Trả hàng/Hoàn tiền</label>
                </div>
                <div class="wrap-filter row mt-5">
                    <div class="wrap-search">
                        <div class="input-group md-form form-sm form-2 pl-0">
                            <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <span class="input-group-text amber lighten-3" style="background-color: transparent;" id="basic-text1">
                                    <i class="fas fa-search text-grey"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*<div class="wrap-date row">
                            <form action="" class="col mr-2">
                                <div class="row d-flex align-items-center">
                                    Ngày đặt hàng
                                    <div class="col">
                                        <input type="date" name="dayStart" class="form-control">
                                    </div> -
                                    <div class="col">
                                        <input type="date" name="dayEnd" class="form-control">
                                    </div>
                                    <input type="submit" value="Xuất" class="btn btn-outline-dark">
                                </div>
                            </form>
                            <span class="btn btn-outline-dark">
                                <i class="fas fa-bars"></i>
                            </span>
                        </div>*@
                </div>
                <div class="content-tab  mt-5">
                    @*Tất Cả*@
                    <div class="tab-item tabTatCa">
                        <div class="row d-flex justify-content-between">
                            <h3 class="soLuong font-weight-bold">@ViewBag.billsCount Đơn hàng</h3>
                            <span onclick="window.print()" class="btnChonNgay">Chọn ngày/In phiếu hàng loạt</span>
                        </div>
                        <div class="row title-colum-tab d-flex align-items-center my-3">
                            <span class="col-4">Sản phẩm</span>
                            <span class="col-2">Tổng đơn hàng</span>
                            <span class="col-2">Trạng thái <br> Đếm ngược</span>
                            <span class="col-2">Vận chuyển</span>
                            <span class="col-2">Thao tác</span>
                        </div>
                        <div class="wrap-cart row">
                            @foreach (var bill in ViewBag.bills)
                            {
                                    <div class="card mb-3 col-12 px-0" style="width: 100%;">
                                        <div class="card-header col-12">
                                            <div class="row d-flex justify-content-between align-items-center">
                                                <p class="m-0 ml-2">@bill[0].order_id</p>
                                                <p class="m-0 mr-2">@bill[0].order_date</p>
                                            </div>
                                        </div>
                                        @foreach (var b in bill)
                                        {
                                            <div class="card-body row">
                                                <div class="col-4 d-flex justify-content-between">
                                                    <div>
                                                        <img src="@b.BOOK.IMAGE_BOOK.link" alt="avatar" style="width:20px; height:20px">
                                                        <span>@b.BOOK.nameBook</span>
                                                    </div>
                                                    <span>x @b.total</span>
                                                </div>
                                                <div class="col-2">
                                                    <span>@(b.total*b.BOOK.priceBook)</span>
                                                    <p>Thanh toán khi nhận hàng</p>
                                                </div>
                                                <div class="col-2">
                                                    <strong>@b.status_bill</strong>
                                                    <p>@b.INFORMATION.addressInformation</p>
                                                </div>
                                                <div class="col-2">
                                                    <Strong>J&T Express</Strong>
                                                </div>
                                                <div class="col-2">
                                                    <span class="text-primary" style="cursor: pointer;">Đánh giá</span>
                                                </div>
                                            </div>
                                        }

                                    </div>
                            }
                        </div>
                    </div>
                    @*Chờ Xác Nhận*@
                <div class="tab-item tabChoXacNhan">
                    <div class="row d-flex justify-content-between">
                        <h3 class="soLuong font-weight-bold">@ViewBag.bill_WaitConfirms_Count Đơn hàng</h3>
                        <span class="btnChonNgay">Chọn ngày/In phiếu hàng loạt</span>
                    </div>
                    <div class="row title-colum-tab d-flex align-items-center my-3">
                        <span class="col-4">Sản phẩm</span>
                        <span class="col-3">Tổng đơn hàng</span>
                        <span class="col-3">Trạng thái <br> Đếm ngược</span>
                        <span class="col-2">Vận chuyển</span>

                    </div>
                    @foreach (var bill in ViewBag.bill_WaitConfirms)
                    {
                        <div class="wrap-cart row">


                            <div class="card mb-3 col-12 px-0" style="width: 100%;">
                                <div class="card-header col-12">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <p class="m-0 ml-2">@bill[0].order_id</p>
                                        <p class="m-0 mr-2">@bill[0].order_date</p>
                                    </div>
                                </div>
                                @foreach (var b in bill)
                                {
                                    <div class="card-body row">
                                        <div class="col-4 d-flex justify-content-between">
                                            <div>
                                                <img src="@b.BOOK.IMAGE_BOOK.link" alt="avatar" style="width:20px; height:20px" />
                                                <span>@b.BOOK.nameBook</span>
                                            </div>
                                            <span>x1</span>
                                        </div>
                                        <div class="col-3">
                                            <span>@b.BOOK.priceBook</span>
                                            <p>Thanh toán khi nhận hàng</p>

                                        </div>
                                        <div class="col-3">
                                            <strong>Chờ xác nhận</strong>
                                            <p>@b.INFORMATION.addressInformation</p>
                                        </div>
                                        <div class="col-2">
                                            <Strong>J&T Express</Strong>
                                        </div>


                                    </div>
                                }
                                </div>



                        </div>
                    }
                    </div>

                    <div class="tab-item tabChoLayHang">
                        <div class="row d-flex justify-content-between">
                            <h3 class="soLuong font-weight-bold">@ViewBag.cartsCount Đơn hàng</h3>
                            <span class="btnChonNgay">Chọn ngày/In phiếu hàng loạt</span>
                        </div>
                        <div class="row title-colum-tab d-flex align-items-center my-3">
                            <span class="col-4">Sản phẩm</span>
                            <span class="col-2">Tổng đơn hàng</span>
                            <span class="col-2">Trạng thái <br> Đếm ngược</span>
                            <select class="col-2" style="background-color: transparent; border: none; outline: none;">
                                <option>Vận chuyển</option>
                            </select>
                            <span class="col-2">Thao tác</span>
                        </div>
                        @*<div class="wrap-cart row">
                            
                            @foreach (var bill in ViewBag.bills)
                            {
                                if (bill.status_bill == "Chờ lấy hàng")
                                {
                                    <div class="card mb-3 col-12 px-0" style="width: 100%;">
                                        <div class="card-header col-12">
                                            <div class="row d-flex justify-content-between align-items-center">
                                                <p class="m-0">@bill.information_id</p>
                                                <p class="m-0">@bill.book_id</p>
                                            </div>
                                        </div>
                                        <div class="card-body row">
                                            <div class="col-4 d-flex justify-content-between">
                                                <div>
                                                    <img src="@bill.BOOK.IMAGE_BOOK.link" alt="avatar" style="width:20px; height:20px">
                                                    <span>@bill.BOOK.nameBook</span>
                                                </div>
                                                <span>x @bill.total</span>
                                            </div>
                                            <div class="col-2">
                                                <span>@(bill.total*bill.BOOK.priceBook)</span>
                                                <p>Thanh toán khi nhận hàng</p>
                                            </div>
                                            <div class="col-2">
                                                <strong>@bill.status_bill</strong>
                                                <p>@bill.INFORMATION.addressInformation</p>
                                            </div>
                                            <div class="col-2">
                                                <Strong>J&T Express</Strong>
                                            </div>
                                            <div class="col-2">
                                                <span class="text-primary" style="cursor: pointer;">Đánh giá</span>
                                            </div>
                                        </div>
                                    </div>
                                }


                            }

                        </div>*@
                    </div>

                    <div class="tab-item tabDangGiao">
                        <div class="row d-flex justify-content-between">
                            <h3 class="soLuong font-weight-bold">@ViewBag.bill_Shippings_Count Đơn hàng</h3>
                            <span class="btnChonNgay">Chọn ngày/In phiếu hàng loạt</span>
                        </div>
                        <div class="row title-colum-tab d-flex align-items-center my-3">
                            <span class="col-4">Sản phẩm</span>
                            <span class="col-3">Tổng đơn hàng</span>
                            <span class="col-3">Trạng thái <br> Đếm ngược</span>
                            <span class="col-2">Vận chuyển</span>

                        </div>
                        <div class="wrap-cart row">

                            @foreach (var bill in ViewBag.bill_Shippings)
                            {
                                <div class="card mb-3 col-12 px-0" style="width: 100%;">
                                    <div class="card-header col-12">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <p class="m-0" id="id_info">@bill.information_id</p>
                                            <p class="m-0" id="id_book">@bill.book_id</p>
                                        </div>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-4 d-flex justify-content-between">
                                            <div>
                                                <img src="@bill.BOOK.IMAGE_BOOK.link" alt="avatar" style="width:20px; height:20px" />
                                                <span data-order_id="@bill.order_id" id="id_order">@bill.BOOK.nameBook</span>
                                            </div>
                                            <span>x1</span>
                                        </div>
                                        <div class="col-3">
                                            <span>@bill.BOOK.priceBook</span>
                                            <p>Thanh toán khi nhận hàng</p>

                                        </div>
                                        <div class="col-3">
                                            <strong>Chờ xác nhận</strong>
                                            <p>@bill.INFORMATION.addressInformation</p>
                                        </div>
                                        <div class="col-2">
                                            <Strong>J&T Express</Strong>
                                        </div>


                                    </div>
                                </div>
                            }

                        </div>
                    </div>


                    <div class="tab-item tabDaGiao">
                        <div class="row d-flex justify-content-between">
                            <h3 class="soLuong font-weight-bold">@ViewBag.bill_isDone_Count Đơn hàng</h3>
                            <span class="btnChonNgay">Chọn ngày/In phiếu hàng loạt</span>
                        </div>
                        <div class="row title-colum-tab d-flex align-items-center my-3">
                            <span class="col-4">Sản phẩm</span>
                            <span class="col-2">Tổng đơn hàng</span>
                            <span class="col-2">Trạng thái <br> Đếm ngược</span>
                            <select class="col-2" style="background-color: transparent; border: none; outline: none;">
                                <option>Vận chuyển</option>
                            </select>
                            <span class="col-2">Thao tác</span>
                        </div>
                        <div class="wrap-cart row">

                            @foreach (var bill in ViewBag.bill_isDone)
                            {
                                <div class="card mb-3 col-12 px-0" style="width: 100%;">
                                    <div class="card-header col-12">
                                        <div class="row d-flex justify-content-between align-items-center">
                                            <p class="m-0">@bill.information_id</p>
                                            <p class="m-0">@bill.book_id</p>
                                        </div>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-4 d-flex justify-content-between">
                                            <div>
                                                <img src="@bill.BOOK.IMAGE_BOOK.link" alt="avatar" style="width:20px; height:20px">
                                                <span>@bill.BOOK.nameBook</span>
                                            </div>
                                            <span>x @bill.total</span>
                                        </div>
                                        <div class="col-2">
                                            <span>@(bill.total*bill.BOOK.priceBook)</span>
                                            <p>Thanh toán khi nhận hàng</p>
                                        </div>
                                        <div class="col-2">
                                            <strong>Đã giao</strong>
                                            <p>@bill.INFORMATION.addressInformation</p>
                                        </div>
                                        <div class="col-2">
                                            <Strong>J&T Express</Strong>
                                        </div>
                                        <div class="col-2">
                                            <span class="text-primary" style="cursor: pointer;">Đánh giá</span>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>



                    <div class="tab-item tabDaHuy">

                    </div>

                    <div class="tab-item tabTraHang">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--================ start footer Area  =================-->
@Html.Partial("_FooterComponent")
<!--================ End footer Area  =================-->
<style>
    :root {
        --grey: #d7d7d7;
        --grey2: #726b6b;
        --orange: #fa4a06;
        --white: #ffffff;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    input[id="tab-choXacNhan"]:checked ~ div.wrap-status h1.status.choXacNhan,
    input[id="tab-choLayHang"]:checked ~ div.wrap-status h1.status.choLayHang,
    input[id="tab-dangGiao"]:checked ~ div.wrap-status h1.status.dangGiao,
    input[id="tab-daGiao"]:checked ~ div.wrap-status h1.status.daGiao,
    input[id="tab-daHuy"]:checked ~ div.wrap-status h1.status.daHuy,
    input[id="tab-traHang"]:checked ~ div.wrap-status h1.status.traHang,
    input[id="tab-tatCa"]:checked ~ div.wrap-status h1.status.tatCa {
        display: block;
    }

    .wrap-status .status {
        display: none;
    }

    .wrap-content .wrap-name-column {
        height: 70px;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--grey);
        border-bottom: 1px solid var(--grey);
    }

        .wrap-content .wrap-name-column label {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 100%;
            margin: 0;
            font-weight: 500;
            color: var(--grey2);
            margin-top: 2px;
            border-bottom: 4px solid transparent;
            transition: all .3s;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
        }

            .wrap-content .wrap-name-column label:hover {
                color: var(--orange);
            }

    /* ACTIVE TAB */
    input[id="tab-tatCa"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-tatCa"],
    input[id="tab-choXacNhan"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-choXacNhan"],
    input[id="tab-choLayHang"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-choLayHang"],
    input[id="tab-dangGiao"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-dangGiao"],
    input[id="tab-daGiao"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-daGiao"],
    input[id="tab-daHuy"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-daHuy"],
    input[id="tab-traHang"]:checked ~ div.wrap-content .wrap-name-column label[for="tab-traHang"] {
        color: var(--orange);
        border-bottom: 4px solid var(--orange);
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }

    .wrap-content .wrap-filter {
        display: flex;
        justify-content: space-between;
    }

    .wrap-content .content-tab {
        position: relative !important;
    }

        .wrap-content .content-tab .tab-item {
            display: none;
        }

    /* ACTIVE TAB */
    input[id="tab-tatCa"]:checked ~ div.wrap-content .content-tab .tab-item.tabTatCa,
    input[id="tab-choXacNhan"]:checked ~ div.wrap-content .content-tab .tab-item.tabChoXacNhan,
    input[id="tab-choLayHang"]:checked ~ div.wrap-content .content-tab .tab-item.tabChoLayHang,
    input[id="tab-dangGiao"]:checked ~ div.wrap-content .content-tab .tab-item.tabDangGiao,
    input[id="tab-daGiao"]:checked ~ div.wrap-content .content-tab .tab-item.tabDaGiao,
    input[id="tab-daHuy"]:checked ~ div.wrap-content .content-tab .tab-item.tabDaHuy,
    input[id="tab-traHang"]:checked ~ div.wrap-content .content-tab .tab-item.tabTraHang {
        display: block;
    }

    .wrap-content .content-tab .tab-item .btnChonNgay {
        background-color: var(--orange);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        color: var(--white);
        cursor: pointer;
    }

    .wrap-content .content-tab .tab-item .title-colum-tab {
        background-color: var(--grey);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 10px 0;
    }

        .wrap-content .content-tab .tab-item .title-colum-tab,
        .wrap-content .content-tab .tab-item .title-colum-tab select {
            font-size: 15px;
            color: var(--grey2);
            font-weight: 500;
        }
</style>

@*<script>
    $(document).ready(function () {
        $(".confirm_product").click(function (e) {
            const current = e.currentTarget
            if (current.disabled && current.disabled === true) {

            }
            else {
                current.disabled = true
                current.classList.add("disabled")
                const order_id = document.getElementById("id_order").dataset.order_id
                const information_id = document.getElementById("id_info").innerHTML
                const book_id = document.getElementById("id_book").innerHTML
                const objData = {
                    order_id,
                    information_id,
                    book_id,
                    status : "Chờ lấy hàng"
                }
                $.ajax({
                    url: "/Admin/ChangeStatus",
                    type: "GET",
                    data: objData,
                    datatype: "JSON",
                    success: function (res) {
                        if (!(res.status)) {
                            notify("Thông báo", res.message, "fas fa-exclamation", "warning")
                        }
                    }
                })
            }

        })
    })
</script>*@
