@model Web.ASP.models.BOOK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BOOK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contentBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contentBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgBook_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgBook_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY.nameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY.nameCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCOUNT_BOOK.C_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCOUNT_BOOK.C_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUBLISHING_HOUSE.namePublishingHouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUBLISHING_HOUSE.namePublishingHouse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
